@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

ul#nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 720px;
  background: #159cb0 url('../imagens/fundo-horizontal.png') repeat-x;
  float: left;
}

ul#nav li {
  float: left;
}

ul#nav a {
  background: url('../imagens/divisor.png') repeat-y;
  display: block;
  text-decoration: none;
  padding: 0 2em;
  line-height: 2em;
  color: #fff;
}

ul#nav .primeiro a {
  background: none;
}

ul#nav a:hover {
  color: #085662;
  background: #44cade;
}

#home #nav .home a, #sobre #nav  .sobre a{
  color: #085662;
  background: #44cade;
}