@charset "UTF-8";

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 720px;
}

ul li {
  float: left;
  background: url('../imagens/aba-direita.png') no-repeat top right;
}

ul a {
  background: url('../imagens/aba-esquerda.png')no-repeat top left;
  color: #fff;
  display: block;
  padding: 0 2em;
  line-height: 3em;
  text-decoration: none;
}

ul a:hover {
  color: #894a1f;
}

ul #atual {
  background: url('../imagens/aba-direita-atual.png') no-repeat top right;
}

ul #atual a {
  background: url('../imagens/aba-esquerda-atual.png') no-repeat top left;
}