@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
   
}

body {
    background-image: linear-gradient(to right, #096EAD, #52BAFA);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #03253b9f;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #064E7A;
    text-align: center;
    text-shadow: 1px 1px 2px #063553cb;
}

h2 {
    color: #6399BB;
}

p {
    text-align: justify;
}